nAndk=[]
array=[]
takeinput=input("enter n and K in the same line with space between : ")
nAndk=takeinput.split()
for i in range(0,2):
    nAndk[i]=int(nAndk[i])
n=nAndk[0]
k=nAndk[1]
len(array)==n
count =0
takelist=input("enter element of list in the same line with space between : ")
array=takelist.split()
for s in range(len(array)):
    array[s]=int(array[s])
for i in range(len(array)) :
    for j in range(len(array)) :
        if i < j :
            if (array[i]+array[j]) % k==0 :
                count += 1
print(count)

